    <p class="listheading">Komplimanger i listan:</p>
    
      @* Loop throuh list with commpliments *@
      @foreach (var item in ViewBag.Kindness)
    { 
        <div class="comploment-list">
                <p class="item">@item.Thing</p>
        </div>
    }