<!DOCTYPE html>
<html lang="se">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/stylesheet.css">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <p>Header</p>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Startsidan</a></li>
                <li><a asp-controller="List" asp-action="Index">Få en komplimang</a></li>
            </ul>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <p>Footer</p>
    </footer>
    
</body>
</html>