<nav>
    <ul>
        <li><a asp-controller="List" asp-action="Index">Boosta med komplimanger</a></li>
        <li><a asp-controller="List" asp-action="Add">Lägg till en komplimang</a></li>
    </ul>
</nav>