
@{
    ViewData["Titel"] = "Startsidan";
}

<h1>Startsidan</h1>
<h2>@ViewBag.Greeting</h2>
<h3></h3>

<p>@ViewBag.output</p>


@foreach (string item in (List<string>)ViewData["images"])
    {
        <img src="~/images/@item" alt="Bild">
    }
  