
@{
    ViewData["Titel"] = "Startsidan";
}

<div class="startpage">
    <h1>Startsidan</h1>
    <p>@ViewBag.output</p>

    <div class="img-flex">
        @* Loop trough list with names of images *@
        @foreach (string item in (List<string>)ViewData["images"])
            {
                <img src="~/images/@item" alt="Bild">
            }
        
    </div>
</div>


