@{
    ViewData["Titel"] = "Fel Startsida";
}


<div class="not-start">
    <h1>Inte startsidan</h1>
    <h2>@ViewBag.Greeting</h2>


    <p>Skriv in ditt namn för att komma vidare till startsidan</p>

    @* Form will redirect to Index *@
    <form class="name-form" asp-controller="Home" asp-action="Index" method="get">
        <input name="name" type="text" required>
        <input type="submit" value="Vidare till startsidan">
    </form>
</div>


