@model MVC.Models.KindThings
@{
    ViewData["Titel"] = "Snälla saker";
}

<div class="kindness">
    <partial name="_ListMenu2" />  
    
    <form method="post">
        <span asp-validation-for="Thing"></span>
        <label class="block"  asp-for="Thing">Lämna komplimang:</label>
        <input class="block"  asp-for="Thing">
        
        <span asp-validation-for="Color"></span>
        <label class="block" asp-for="Color" >Bakgrundsfärg:</label>
        <input asp-for="Color" type="radio" name="Color" value="red"> Röd </input> <br>
        <input asp-for="Color" type="radio" name="Color" value="purple"> Lila </input> <br>
        <input asp-for="Color" type="radio" name="Color" value="pink"> Rosa </input>
        
        <span asp-validation-for="Textcolor"></span>
        <label class="block text"  asp-for="Textcolor" >Textfärg:</label>
        <select name="Textcolor">
            <option value="black">Svart</option>
            <option value="white">Vit</option>
        </select>
        <input class="block"  type="submit">
    </form> 


    <partial name="_ComplimentList" />
</div>
