@model List<MVC.Models.KindThings>
@{
    ViewData["Titel"] = "Snälla saker";
}

<div class="kindness-list">

    <section>
        <h2>Här finns några komplimanger till dig</h2>

        @foreach (var item in Model)
        { 
            <div class="@item.Color compliment">
                    <p class="@item.Textcolor">@item.Thing</p>
            </div>
        }
    </section>
    
    <partial name="_ListMenu1" /> 
</div>




 